@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #051d38;
  --background: white;
  --bright-blue: #ccdffa;
  --contrast: #ed6a5a;
  --default-blue: #569ef0;
  --button-highlight-blue: #6ba7ec;
  --bg-highlight-blue: #dbebff;
}

body {
  color: var(--text);
  background-color: var(--background);
}

/* * {
  border: 1px solid black;
} */