@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #051d38;
  --background: #edf4fd;
  --contrast: #ed6a5a;
  --default-blue: #569ef0;
  --highlight-blue: #b4d4f8;
}

body {
  color: var(--text);
  background-color: var(--background);
}